<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Techmart</title>

    <!-- Google font -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
 		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
 		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 		<![endif]-->
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>

<body>

    <!-- HEADER -->

    <table>
        <tr>
            <th>Customer</th>
            <th>items</th>
            <th>City</th>
            <th>Pincode</th>
            <th>Location</th>
            <th>Shipping address</th>
            <th>Payment status</th>
        </tr>
        {% for list in order_info %}
        <tr>
           
            <td>{{list.Customer}}</td>
            <td>{{list.items}}</td>
            <td>{{list.city}}</td>
            <td>{{list.Pincode}}</td>
            <td>{{list.Location}}</td>
            <td>{{list.Shipping_address}}</td>
            <td>{{list.is_paid}}</td>
           
        </tr>
        {% endfor %}
        






















        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/slick.min.js'%}"></script>
        <script src="{%static 'js/nouislider.min.js'%}"></script>
        <script src="{%static 'js/jquery.zoom.min.js'%}"></script>
        <script src="{%static 'js/main.js'%}"></script>